

.logoContainer {
    display: flex;
    align-items: center;
  }
  
  .buttonContainer {
    display: flex;
    gap: 15px; 
  }
  
  .leadButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

  }
  
  .leadButton:hover {
    background-color: #45a049;
  }
  
  .loginButton {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #1976d2;
  }

  .header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid #e0e0e0; 
    position: relative;
    z-index: 1;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
